*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
     /* background-color: #001a33;  */
    /* background: linear-gradient(180deg, rgba(0, 8, 29, 0) 0%, #00081D 93.46%); */
    background-image: linear-gradient(0deg, rgba(0, 8, 29, 0.7), rgba(0, 8, 29, 0.7)),url(https://assets.nflxext.com/ffe/siteui/vlv3/76c10fc9-7ccd-4fbf-bc59-f16a468921ca/4fb4af6e-d0ca-4c7f-b004-b34226727e55/IN-en-20230529-popsignuptwoweeks-perspective_alpha_website_large.jpg); 

}
.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/rDJegQJaCyGaYysj2g5XWY-1024-80.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } 

.header-content h2 {
    color:#fff;
    font-size: 4rem;
    font-weight: 900;
} 

.nav-bar img{
    width: 210px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6%;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons img{
    width: 20px;
    margin-left: 9px;
    color: #fff;
    margin-right: 10px;

}
.btn{
    width: 100%;
    height: 36px;
    margin-right: -2px;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 0 solid #645454

}
.btn1{
    background: transparent;
}

.header-content{
     color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 10%;
     padding: 40px;
}
.header-content img{
    width: 20px;
}
.header-content h5{
    padding-top: 10px;
    padding-right: 115px;
    font-size: 1.3rem;
    font-weight: 500;
}
.header-content p{
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding-right: 115px;

}
.email-signup{
    width: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
    background: #fff;

}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background-color: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
}
/* features */
.features{
padding: 50px 5%;
background-color:#000033;
color: #fff;
margin: 0px 4%;
font-size: 20px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.text-col{
flex-basis: 50%;
margin-bottom: 20px;
}
.text-col h1{
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
}
.text-col p{
    color: #fff;
}
.pic-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.pic-col img{
    display: block;
    width: 100%;
    margin-top: auto;
}
.faq{
    background-color: #001a33;
    color: #fff;
}

.faq h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 14px 3%;
    margin-right: 33%;
    margin-top: 10rem;
}
.faq-dats{
    width: 70%;
    margin: auto;
}
.faq-dats li{
    list-style: none;
    width: 100%;
    padding: 6px;
}
.faq-dats li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}
input[type="radio"]{
    display: none;
}
.faq .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.faq input[type="radio"]:checked + label + .content{
    max-width: 600px;
    padding: 30px;
}
.bg-colr{
    background-color: rgba(19,33,68,1)
}
.btn1{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
btn1 h2{
    color: #fff;
}